*{
margin: 0;
padding: 0;
box-sizing: border-box;}

body{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
background-color: hotpink;
height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.home-container{
    text-align: right;
    margin-left: 20px;
}

.home-link{
    text-decoration: none;
    color:black;
    font-size: 20px;
    font-weight: 700;
    
}

.home-link:hover{
    text-decoration: underline;
}
.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    margin-bottom: 20px;
}
.image1{
    border: 5px solid white;
    width: 180x;
    height: 180px;
    border-radius: 10px;
}
.header-text {
    text-align: center;
    flex: 1;
}

h1{
color: red;
text-align: center;
margin-bottom: 40px;
font-size: 45px;
animation: fadeIn 1s ease-in-out;
}
h2{
color:red;
text-align: center;
margin-top: 80px;
font-size: 45px;
animation: fadeIn 1s ease-in-out;
}
.menu-container{
display: flex;
gap: 30px;
 animation: slideUp 1s ease-in-out;
}
.hub-button{
padding: 40px 60px; 
font-size: 1.2rem;
text-decoration: none;
background-color:whitesmoke;
border-radius: 20px;
color: red;
font-weight: bold;
transition: transform  0.3s, background 0.3s;
text-align: center;
box-shadow: 0 10px



}
.hub-button:hover{
    transform: scale(1.2);
    background: palevioletred;
    
}

@keyframes fadeIn{
from{
    opacity:0;
    transform: translateY(-20px);
}
to{
    opacity: 1;
    transform: translateY(0);
}

}
@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(25px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


